@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 47, 49, 52;
  --background-start-rgb: 248, 244, 214;
  --background-end-rgb: 243, 239, 213;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    180deg,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
}
